<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codepresso.codepressoblog.mapper.CommentMapper">
    <select id="findByPostIdAndPage" resultType="com.codepresso.codepressoblog.vo.Comment">
        SELECT *
        FROM COMMENT
        WHERE post_id = #{postId}
        order by id desc
        LIMIT #{limit} offset #{offset};
    </select>

    <insert id="save">
        INSERT INTO comment(post_id, content, username)
        VALUES (#{comment.postId}, #{comment.content}, #{comment.username});
    </insert>

    <update id="update">
        UPDATE comment
        SET content = #{comment.content}
        WHERE id = #{comment.id}
    </update>

    <delete id="delete">
        DELETE FROM comment
        WHERE id = #{id};
    </delete>
</mapper>

